<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            SVM Classifier
        </title>

    </head>

    <body>
        <h2 style="color:blue;">SVM Classification for <strong>{{ tweet }}</strong> </h2>
        <div>
            <p>
                <strong>Predicted-Sentiment:</strong> {{ sentiment }}
            </p>
        </div>

        <div>
            <p>
                <strong>Positive Sentiment Probability:</strong> {{ positive_probability }}
                <strong>Negative Sentiment Probability:</strong> {{ negative_probability }}
            </p>
        </div>

        <div>
            <textarea cols="20" id="c" name="c" rows="22" style="width:100%;color:white;background-color:black">Sentiment score:  0.952758702471
            Most significant phrases:
            {{ keywords }}
            </textarea>
        </div>


    </body>

</html>